target/
!.mvn/wrapper/maven-wrapper.jar
CSV_Files
CSV_Files/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

target
tomcat.8080
tomcat.5000